.buttonWrapper {
}
.buttonLabel {
    color: white;
    text-align: center;
    font-size: 10px;
}
.button {
    background: black;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px 2px rgba(0,0,0,0.4);
    -moz-box-shadow: 0 0 5px 2px rgba(0,0,0,0.4);
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.4);
}
#power {
    width: 30px;
    height: 30px;
    border-radius: 15px;
}
.oval {
    width: 40px;
    height: 30px;
    border-radius: 15px;
}
.circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}