@font-face {
    font-family: "digital numbers";
    src: url("./fonts/DigitalNumbers-Regular.woff") format("woff");
}
@font-face {
    font-family: "roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("ttf");
}
@media screen and (min-width: 320px) and (max-width: 767px) {
    #metronomeWrapper {
        margin-bottom: 20px;
    }
    #clause {
        bottom: 0;
    }
}
@media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
    html {
      transform: rotate(-90deg);
      transform-origin: left top;
      width: 100vh;
      overflow-x: hidden;
      position: absolute;
      top: 100%;
      left: 0;
    }
    .App {
        padding-top: calc(50vw - 150px);
        height: 100vw;
    }
  }