@font-face {
    font-family: "digital numbers";
    src: url("./fonts/DigitalNumbers-Regular.woff") format("woff");
}
@font-face {
    font-family: "roboto";
    src: url("./fonts/Roboto-Regular.ttf") format("ttf");
}